# The RPC API URL (e.g. https://rpc-mumbai.maticvigil.com https://polygon-mumbai.g.alchemy.com/v2/your-api-key)
API_URL=

# The exported wallet private key (e.g 0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80)
PRIVATE_KEY=

# The blocks explorer API (e.g https://mumbai.polygonscan.com/)
POLYSCAN_API=https://mumbai.polygonscan.com/